<section>
  <app-titulo-inicial [tituloInicial]="tituloInicial"></app-titulo-inicial>
</section>
<section>
  <div class="container py-5">
    <div class="column">
      <div class="mensajeEmpleo">
        <p class="mb-2">Si estás interesado en formar parte de nuestro equipo y en aprovechar todas las oportunidades de
          crecimiento profesional que GEDITEC ofrece, no dudes en dejarnos tus datos.</p>
        <p class="mb-3">Estaremos encantados de tenerte en cuenta para futuras oportunidades de trabajo.</p>
      </div>
      <div class="row m-0">
        <img class="col-lg-4 col-md-4 col-sm-6 col-xs-12 img-fluid p-3"
          src="assets/images/nosotros/MG_3733.webp" alt="imagen">
        <img class="col-lg-4 col-md-4 col-sm-6 col-xs-12 img-fluid p-3"
          src="assets/images/nosotros/MG_4467.webp" alt="imagen">
        <img class="col-lg-4 col-md-4 col-sm-6 col-xs-12 img-fluid p-3"
          src="assets/images/nosotros/MG_4231.webp" alt="imagen">
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container-fluid g--bg-color-2B2A2A text-white g--font-family-dm-sans py-5">
    <h2 class="tituloCurriculum">Envíanos tu CV</h2>
    <form class="c-formCurriculum">
      <input id="nombre" class="c-formCurriculum__input" type="text" name="nombre" placeholder="Nombre completo"
        required>
      <input id="email" class="c-formCurriculum__input" type="text" name="email" placeholder="Email" required>
      <input id="movil" class="c-formCurriculum__input" type="text" name="movil" placeholder="Móvil" required>
      <input id="file" class="c-formCurriculum__file" type="file" name="file" required>
      <div class="d-flex text-wrap  mb-3">
        <input id="check" class="c-formCurriculum__check" type="checkbox" name="check" required>
        <label for="check">Acepto las políticas de privacidad y registro de datos.</label>
      </div>
      <div class="d-flex justify-content-center">
        <button id="btnForm" class="c-formCurriculum__boton" type="button">ENVIAR CONSULTA</button>
      </div>
    </form>
  </div>
</section>
<section>
  <div class="container-fluid py-5">
    <app-contactos [contacto]="contacto"></app-contactos>
  </div>
</section>
