<section>
  <app-titulo-inicial [tituloInicial]="tituloInicial"></app-titulo-inicial>
</section>
<section>
  <div class="container py-5">
    <div class="column">
      <div class="mensajeEmpleo">
        <p class="mb-2">Si estás interesado en formar parte de nuestro equipo y en aprovechar todas las oportunidades de crecimiento profesional que GEDITEC ofrece, no dudes en dejarnos tus datos.</p>
        <p class="mb-3">Estaremos encantados de tenerte en cuenta para futuras oportunidades de trabajo.</p>
      </div>
      <div class="row m-0">
        <img class="col-lg-4 col-md-4 col-sm-6 col-xs-12 img-fluid p-3" src="../../../assets/images/nosotros/MG_3733.webp" alt="imagen">
        <img class="col-lg-4 col-md-4 col-sm-6 col-xs-12 img-fluid p-3" src="../../../assets/images/nosotros/MG_4467.webp" alt="imagen">
        <img class="col-lg-4 col-md-4 col-sm-6 col-xs-12 img-fluid p-3" src="../../../assets/images/nosotros/MG_4231.webp" alt="imagen">
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container-fluid g--bg-color-2B2A2A text-white g--font-family-dm-sans">
qweqweqw
  </div>
</section>
<div style="height: 200px;"></div>
