<section>
  <app-titulo-inicial [tituloInicial]="tituloInicial"></app-titulo-inicial>
</section>
<section>
  <div class="container-fluid py-5 row">
    <app-contactos *ngFor="let contacto of contactos" [contacto]="contacto" class="col-lg-4 col-md-4 col-sm-12">
    </app-contactos>
  </div>
</section>
<section>
  <div class="container-fluid g--bg-color-2B2A2A text-white g--font-family-dm-sans py-5">
    <h2 class="tituloContacto">Contacta con nosotros</h2>
    <form [formGroup]="formularioContacto" class="c-formContacto" (ngSubmit)="submit()">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-12">
          <input id="nombre" formControlName="nombre" class="c-formContacto__input w-100 form-control" type="text"
            name="nombre" placeholder="Nombre completo" minlength="2" maxlength="30"
            [ngClass]="getCampoClases('nombre')" required>
          <span class="c-formContacto__error"
            *ngIf="formularioContacto.get('nombre')?.invalid && formularioContacto.get('nombre')?.touched">
            El nombre es obligatorio.
          </span>
          <!-- <div *ngIf="formularioContacto.controls.nombre.invalid && formularioContacto.controls.nombre.touched" class="error-message">
              El nombre es obligatorio.
            </div> -->
        </div>
        <div class="col-lg-6 col-md-6 col-12">
          <input id="email" formControlName="email" class="c-formContacto__input w-100" type="text" name="email"
            placeholder="Email" [ngClass]="getCampoClases('email')" required>
          <span class="c-formContacto__error"
            *ngIf="formularioContacto.get('email')?.invalid && formularioContacto.get('email')?.touched">
            Introduce un email correcto.
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-12">
          <input id="movil" formControlName="movil" class="c-formContacto__input w-100" type="text" name="movil"
            placeholder="Móvil Ejemplo:656565656" minlength="7" maxlength="12" [ngClass]="getCampoClases('movil')"
            required>
          <span class="c-formContacto__error"
            *ngIf="formularioContacto.get('movil')?.invalid && formularioContacto.get('movil')?.touched">
            Introduce un número correcto.
          </span>
        </div>
        <div class="col-lg-6 col-md-6 col-12">
          <input id="empresa" formControlName="empresa" class="c-formContacto__input w-100" type="text" name="empresa"
            placeholder="Empresa" minlength="5" [ngClass]="getCampoClases('empresa')" required>
          <span class="c-formContacto__error"
            *ngIf="formularioContacto.get('empresa')?.invalid && formularioContacto.get('empresa')?.touched">
            Introduce un nombre correcto.
          </span>
        </div>
      </div>
      <div class="text-black mb-3">
        <textarea id="mensajeContacto" class="c-formContacto__input" name="mensajeContacto"
          placeholder="Mensaje"></textarea>
      </div>
      <input id="file" class="c-formContacto__file" type="file" name="file" [ngClass]="getCampoClases('file')">
      <div class="d-flex text-wrap mb-lg-0 mb-md-0 mb-2 ">
        <input id="check" formControlName="check" class="c-formContacto__check" type="checkbox" name="check"
          [ngClass]="getCampoClases('check')" required>
        <label for="check">Acepto las políticas de privacidad y registro de datos.</label>
      </div>
      <div class="c-formContacto__error mb-2"
        *ngIf="formularioContacto.get('check')?.invalid && formularioContacto.get('check')?.touched">
        Debes aceptar las politicas de privacidad.
      </div>
      <div class="mb-2">
        <iframe title="reCAPTCHA"
          src="https://www.google.com/recaptcha/api2/anchor?ar=2&amp;k=6LfcA50mAAAAANq7Ih-2a5qceIsMoP4PyOfvMivX&amp;co=aHR0cHM6Ly9nZWRpdGVjLmVzOjQ0Mw..&amp;hl=es&amp;type=v3&amp;v=khH7Ei3klcvfRI74FvDcfuOo&amp;size=invisible&amp;badge=inline&amp;sa=Form&amp;cb=ua23m46ypkpa"
          role="presentation" name="a-p3n6r4360rsy" scrolling="no"
          sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox allow-storage-access-by-user-activation"
          width="256" height="60" frameborder="0"></iframe>
      </div>
      <div class="d-flex justify-content-center">
        <button id="btnForm" class="c-formContacto__boton" type="submit">ENVIAR CONSULTA</button>
      </div>
      <div class="c-formContacto__error c-formContacto__mensaje mb-2 mt-2 text-center" [hidden]="oculto" [ngClass]="{'input-invalid': formularioContacto.invalid,
      'input-valid': formularioContacto.valid}">
        <span class="text-center p-4" *ngIf="formularioContacto.invalid">
          Hay datos inválidos en el formulario
        </span>
        <span class="text-center p-4" *ngIf="formularioContacto.valid">
          Todos los datos son válidos
        </span>
      </div>
    </form>
  </div>
</section>
<section>
  <div class="container py-5">
    <div>
      <iframe class="contacto-maps" loading="lazy"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCeqjeQwmBQyKpb-7gB4PYLCXaEINNfRVo&amp;q=GEDITEC%20Ingenier%C3%ADa%2C%20Carrer%20Major%2C%2046%2C%2046920%20Mislata%2C%20Valencia&amp;zoom=15"
        title="Calle Perdida, nº 99, Bajo. 46920 Mislata (Valencia)"
        aria-label="Calle Perdida, nº 99, Bajo. 46920 Mislata (Valencia)"></iframe>
    </div>
  </div>
</section>
