<section>
  <app-titulo-inicial [tituloInicial]="tituloInicial"></app-titulo-inicial>
</section>
<section>
  <app-proyectos [mensajeProyecto]="mensajeProyecto" [tituloProyectos]="tituloProyectos" [listaProyectos]="listaProyectos"></app-proyectos>
</section>
<section>
  <app-ofrecemos></app-ofrecemos>
</section>
<section>
  <app-casos-exitos [imagenesExitos]="imagenesExitos"></app-casos-exitos>
</section>
<section>
  <app-sobre-nosotros></app-sobre-nosotros>
</section>
<section>
  <app-cualidades id="cualidades"></app-cualidades>
</section>
<section>
  <app-mensaje [cliente_mensaje]="cliente_mensaje"></app-mensaje>
</section>

