.c-casosExistos {
  background-image: url(../../../../assets/images/exitos/BG_Servicios.webp);
  background-size: cover;
  background-repeat: none;
}

.c-casosExistos__titulo {
  text-align: center;
  margin: 20px 0;
  color: #FFFFFF;
  font-family: "DM Sans", Sans-serif;
  font-size: 27px;
  font-weight: 600;
}
.c-casosExistos__imagen{
  transition: all 0.8s;
}
.c-casosExistos__imagen:hover{
  filter: brightness(50%);
}
