<footer>
  <div class="g--bg-color-16558F">
    <div class="d-flex justify-content-center g--font-family-dm-sans">
      <div class="row m-0 c-footer-recibir-novedades justify-content-center align-items-center">
        <div class="col-lg-5 col-md-12 pe-lg-5">
          <h2 class="c-footer-recibir-novedades__titulo">Recibe en tu correo novedades sobre nuevos proyectos y servicios</h2>
        </div>
        <form class="row m-0 col-lg-6 col-md-12">
        <input id="emailNovedades" class="col-lg-5 col-md-6 col-sm-12 me-md-5 mb-2" type="text" name="emailNovedades" placeholder="Tu correo electrónico">
        <button id="botonNovedades" type="button" class="col-lg-5 col-md-5 cold-sm-12 mb-2">Recibir Novedades</button>
      </form>
      </div>
    </div>
    <div class="container mb-5">
      <div class="row text-white">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 text-lg-start text-md-start text-center mb-sm-5">
          <a routerLink="">
            <img class="img-fluid pb-2" src="assets/images/LogoCompleto.webp">
          </a>
          <div>
            <ul class="list-text-company">
              <li>GEDITEC Ingeniería S.L.</li>
              <!-- <li>CIF: B97850275</li> -->
              <li>CIF: A12345678</li>
              <li>Aviso legal y política de privacidad</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 text-lg-start text-md-start text-center my-xs-5 ">
          <h4 class="text-uppercase mb-3 footer-titulos">SERVICIOS</h4>
          <div>
            <ul class="footer-servicios-link">
              <li><a routerLink="/servicios/obra-civil-industrial" routerLinkActive="activo">Obra civil industrial</a>
              </li>
              <li><a routerLink="/servicios/instalaciones-industriales" routerLinkActive="activo">Instalaciones
                  industriales</a></li>
              <li><a routerLink="/servicios/distribucion-servicios" routerLinkActive="activo">Distribución y
                  servicios</a></li>
              <li><a routerLink="/servicios/edificacion" routerLinkActive="activo">Edificación</a></li>
              <li><a routerLink="/servicios/hidraulica" routerLinkActive="activo">Hidráulica</a></li>
              <li><a routerLink="/servicios/medioambiente" routerLinkActive="activo">Medioambiente y calidad</a></li>
              <li><a routerLink="/servicios/sector-agroalimentario" routerLinkActive="activo">Sector agroalimentario</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 text-lg-start text-md-start text-center mb-md-5">
          <h4 class="text-uppercase mb-3 footer-titulos">CONTACTANOS</h4>
          <div>
            <ul class="list-text-company text-white">
              <li>
                <!-- <a href="tel:+34963708572">Teléfono: +34 963 708 572</a> -->
                <a href="tel:+34646567689">Teléfono: +34 646 567 689</a>
              </li>
              <li>
                <!-- <a href="mailto:geditec@geditec.es">
                  E-mail: geditec@geditec.es
                </a> -->
                <a href="mailto:pruebas@pruebas.com">
                  E-mail: pruebas@pruebas.es
                </a>
              </li>
              <!-- <li>Calle Mayor, nº 46, Bajo. 46920 Mislata (Valencia)</li> -->
              <li>Calle Perdida, nº 99, Bajo. 46920 Mislata (Valencia)</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="text-bottom-footer g--bg-color-2B2A2A">
      <div class="d-flex justify-content-end">
        <a class="boton-flecha-top" (click)="scrollToTop()" role="button">
          <fa-icon [icon]="flechaArriba"></fa-icon>
        </a>
      </div>
      <p>Calidad significa <strong>
          <span style="color: #caaf82;">hacer lo correcto</span>
        </strong> cuando nadie está mirando.</p>
    </div>
  </div>
</footer>
