<div class="container-fluid p-5 px-sm-2">
  <div class="row m-0">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <img class="img-fluid" src="../../../../assets/images/imagen_nosotros.webp" alt="nosotros">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="c-sobreNosotros">
        <p class="c-sobreNosotros__titulo">EXPERIENCIA Y PROFESIONALISMO</p>
        <p class="c-sobreNosotros__mensaje">Calidad y eficiencia, pilares de nuestro enfoque</p>
        <div class="element-divider">
          <span class="bar-separator"></span>
        </div>
        <div class="d-flex justify-content-start mb-4">
          <a class="c-sobreNosotros__boton" routerLink="/nosotros">Sobre nosotros
            <span><i><fa-icon style="font-size: 12px; margin-left: 6px;" [icon]="arrowRight"></fa-icon></i></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
