<div class="container-fluid px-lg-5 px-sm-0 my-5">
  <div class="row m-0 px-lg-0 px-md-5">
    <div class="col-md-4 col-sm-12 c-sobreNosotros">
      <div class="d-flex justify-content-md-start justify-content-sm-center">
        <div class="c-sobreNosotros__icon">
          <span class="c-sobreNosotros__icon-check"><i><fa-icon class="text-white fs-5"
                [icon]="check"></fa-icon></i></span>
        </div>
      </div>
      <h3 class="c-sobreNosotros__titulo">Proyectos de principio a fin</h3>
      <p class="c-sobreNosotros__mensaje">Nuestros técnicos participan desde el principio en el diseño del proyecto y
        también durante el desarrollo de
        las obras, en conjunto con el cliente y otros proveedores para cumplir con los objetivos.</p>
    </div>
    <div class="col-md-4 col-sm-12 c-sobreNosotros">
      <div class="d-flex justify-content-md-start justify-content-sm-center">
        <div class="c-sobreNosotros__icon">
          <span class="c-sobreNosotros__icon-check"><i><fa-icon class="text-white fs-5"
                [icon]="check"></fa-icon></i></span>
        </div>
      </div>
      <h3 class="c-sobreNosotros__titulo">Innovación y eficiencia</h3>
      <p class="c-sobreNosotros__mensaje">Nos esforzamos por adaptarnos a las necesidades de cada cliente y utilizamos
        nuestra amplia experiencia y enfoque para establecernos como una empresa líder en el mercado.</p>
    </div>
    <div class="col-md-4 col-sm-12 c-sobreNosotros">
      <div class="d-flex justify-content-md-start justify-content-sm-center">
        <div class="c-sobreNosotros__icon">
          <span class="c-sobreNosotros__icon-check"><i><fa-icon class="text-white fs-5"
                [icon]="check"></fa-icon></i></span>
        </div>
      </div>
      <h3 class="c-sobreNosotros__titulo">En toda la Península</h3>
      <p class="c-sobreNosotros__mensaje">Trabajamos en proyectos de Obra Civil Industrial para toda la Península.
        Desde nuestra base en Mislata, con un equipo altamente especializado y capacitado.</p>
    </div>
  </div>
