<main>
  <div id="slider-carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#slider-carousel" data-bs-slide-to="0" class="boton-carousel active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#slider-carousel" data-bs-slide-to="1" class="boton-carousel"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#slider-carousel" data-bs-slide-to="2" class="boton-carousel"
        aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#slider-carousel" data-bs-slide-to="3" class="boton-carousel"
        aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active g--bg-color-16558F">
        <picture>
          <source media="(max-width: 768px)" srcset="../../../assets/images/carrousel/caixapopular_mobile.webp" />
          <img src="../../../assets/images/carrousel/caixapopular.webp" class="d-block w-100" alt="Caixa Popular">
        </picture>
      </div>
      <div class="carousel-item">
        <picture>
          <source media="(max-width: 768px)" srcset="../../../assets/images/carrousel/sanitas_mobile.webp" />
          <img src="../../../assets/images/carrousel/sanitas.webp" class="d-block w-100" alt="Sanitas">
        </picture>
      </div>
      <div class="carousel-item">
        <picture>
          <source media="(max-width: 768px)" srcset="../../../assets/images/carrousel/miarco_mobile.webp" />
          <img src="../../../assets/images/carrousel/miarco.webp" class="d-block w-100" alt="MIARCO">
        </picture>
      </div>
      <div class="carousel-item">
        <picture>
          <source media="(max-width: 768px)" srcset="../../../assets/images/carrousel/ctt_mobile.webp" />
          <img src="../../../assets/images/carrousel/ctt.webp" class="d-block w-100" alt="CTT Empresa">
        </picture>
      </div>
    </div>
    <div class="mensaje-carousel">
      <h1 class="texto-mensaje-carousel">
        <span class="negrita-cursiva">Desde el 2006</span> proyectando el <span class="negrita-cursiva">futuro.</span>
      </h1>
    </div>
  </div>
  <section class="container mt-5 position-relative">
    <div class="row mx-lg-2 mx-md-1 mx-2">
      <div
        class="row align-items-center align-items-sm-start align-items-xs-start col-lg-6 col-md-6 col-sm-12 py-3 ps-4 g--bg-color-16558F g--font-family-dm-sans text-white">
        <div class="col-lg-3 col-md-4 col-sm-12"><fa-icon class="icono-users" [icon]="users"></fa-icon></div>
        <div class="col-lg-9 col-md-8 col-sm-12 pt-lg-0 ps-sm-0 pt-sm-3 ps-xs-0 pt-xs-3 mt-auto mb-auto"><strong
            class="fs-5">Más de 300 clientes</strong></div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="texto-info ps-lg-4 ps-md-4">En GEDITEC tenemos una <span style="color: #16558F;"><em><strong>amplia
                experiencia</strong></em></span> en
          servicios de ingeniería, arquitectura y consultoría.</div>
      </div>
    </div>
    <div class="row revertir mx-lg-2 mx-md-1 mx-2">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="texto-info pt-lg-4 pt-md-4">
          Nuestro objetivo es <span style="color: #16558F;"><em><strong>dar un servicio integral y de
                excelencia</strong></em></span> para generar la máxima satisfacción de nuestros clientes.
        </div>
      </div>
      <div
        class="row flex-row-reverse align-items-center align-items-sm-end align-items-xs-start col-lg-6 col-md-6 col-sm-12 py-3 ps-4 g--bg-color-16558F g--font-family-dm-sans text-white">
        <div class="col-lg-3 col-md-4 col-sm-12"><img src="../../../assets/images/IconProyectos.webp"
            style="width: 80px;"></div>
        <div class="col-lg-9 col-md-8 col-sm-12 pt-lg-0 ps-sm-0 pt-sm-3 ps-xs-0 pt-xs-3 mt-auto mb-auto"><strong
            class="fs-5">Proyectos por +100M€</strong></div>
      </div>
    </div>
    <div class="cuadrado-info d-none d-md-block"></div>
  </section>
  <section class="container">
    <div class="video-inicio">
      <div class="d-flex position-relative justify-content-start g--font-family-dm-sans fs-4 pb-4">
        <p><em><strong class="fst-italic fw-bold">Descubre más</strong></em> del proyecto Caixa Popular en Paterna</p>
      </div>
      <video class="w-100" src="../../../assets/movies/CaixaDron.mp4" autoplay loop muted="muted"
        controlslist="nodownload"></video>
    </div>
  </section>
  <section class="pb-5 g--bg-color-16558F">
    <div class="container g--font-family-dm-sans" style="padding-top: 150px;">
      <div class="mb-5">
        <p class="fs-4 text-white"><em><strong class="fst-italic fw-bold">Soluciones</strong></em> para</p>
      </div>

      <div *ngFor="let acordeon of acordeones; let i = index" id="accordion_panel{{i}}" class="border-bottom">
        <button [ngClass]="acordeones[i].estado=='activo' ? 'activo' : '' " class="c-accordion" (click)="accordion_soluciones(i)">
          {{acordeon.titulo}}
        </button>
        <div  [ngClass]="acordeones[i].estado=='activo' ? 'd-block' : 'd-none' " class="c-accordion__panel" [ngStyle]="{'max-height': maxHeights[i] + 'px'}">
          {{acordeon.mensaje}}
          <span style="text-decoration: underline;"><span style="color: #ffffff;"><strong><a style="color: #ffffff; text-decoration: underline;" [routerLink]="acordeon.ruta">Ver más &gt;</a></strong></span></span>
        </div>
      </div>


      <!-- <ng-container *ngFor="let acordeon of acordeones; let i = index">
        <button [ngClass]="acordeones[i].estado=='activo' ? 'activo' : '' " class="c-accordion" (click)="accordion_soluciones(i)">
          {{acordeon.titulo}}
        </button>
        <div [ngClass]="acordeones[i].estado=='activo' ? 'show' : '' " class="c-accordion__panel" [ngStyle]="{'max-height': maxHeights[i]}">
          {{acordeon.mensaje}}
          <span style="text-decoration: underline;"><span style="color: #ffffff;"><strong><a style="color: #ffffff; text-decoration: underline;" [routerLink]="acordeon.ruta">Ver más &gt;</a></strong></span></span>
        </div>
      </ng-container> -->



      <!-- [ngStyle]="{'max-height': maxHeights[i]}" -->
      <!-- <div #miDiv1 class="border-bottom">
        <button [ngClass]="acordeones[0].estado=='activo' ? 'activo' : '' " class="c-accordion"
          (click)="accordion_soluciones(1)">{{acordeones[0].titulo}}</button>
        <div [ngClass]="acordeones[0].estado=='activo' ? 'd-block' : 'd-none' " class="c-accordion__panel"
          [ngStyle]="{'max-height': height + 'px'}">
          <p class="pb-3">{{acordeones[0].mensaje}}</p>
        </div>
      </div>
      <div class="border-bottom">
        <button [ngClass]="acordeones[1].estado=='activo' ? 'activo' : '' " class="c-accordion"
          (click)="accordion_soluciones(2)">Distribución y servicios</button>
        <div [ngClass]="acordeones[1].estado=='activo' ? 'd-block' : 'd-none' " class="c-accordion__panel"
          [ngStyle]="{'max-height': height + 'px'}">
          <p class="pb-3">Nuestros clientes abarcan una amplia gama de sectores: tiendas de distribución alimentaria,
            gasolineras, oficinas bancarias y centros de salud. Hemos trabajado en proyectos de distribución y servicios
            con las principales cadenas alimentarias a nivel nacional e internacional. Nuestra amplia experiencia en
            este sector nos permite ofrecer soluciones eficientes y adaptadas a las necesidades de cada cliente.</p>
        </div>
      </div> -->


      <!-- <cdk-accordion class="example-accordion">
        <cdk-accordion-item
          *ngFor="let item of items; let index = index;"
          #accordionItem="cdkAccordionItem"
          class="example-accordion-item"
          role="button"
          tabindex="0"
          [attr.id]="'accordion-header-' + index"
          [attr.aria-expanded]="accordionItem.expanded"
          [attr.aria-controls]="'accordion-body-' + index">
          <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
            {{ item }}
            <span class="example-accordion-item-description">
              Click to {{ accordionItem.expanded ? 'close' : 'open' }}
            </span>
          </div>
          <div
            class="example-accordion-item-body"
            role="region"
            [style.display]="accordionItem.expanded ? '' : 'none'"
            [attr.id]="'accordion-body-' + index"
            [attr.aria-labelledby]="'accordion-header-' + index">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis
            excepturi incidunt ipsum deleniti labore, tempore non nam doloribus blanditiis
            veritatis illo autem iure aliquid ullam rem tenetur deserunt velit culpa?
          </div>
        </cdk-accordion-item>
      </cdk-accordion> -->

      <!-- <div class="acordeon accordion-flush text-white" id="acordeon-servicios">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed text-white g--font-family-dm-sans g--bg-color-16558F fw-semibold fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              Obra Civil Industrial
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse text-white g--font-family-dm-sans g--bg-color-16558F" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              En este sector de la ingeniería nos abocamos a la proyección, construcción y mantenimiento de
              infraestructuras y edificios para la Industria. Nuestros técnicos participan desde el principio en el diseño
              de plantas industriales, para esto se definen junto al cliente las necesidades productivas del proyecto y se
              trabaja en el desarrollo de un espacio que cumpla esas necesidades de forma efectiva.
              <span style="text-decoration: underline;">
                <span style="color: #ffffff;">
                  <strong>
                    <a class="text-nowrap" style="color: #ffffff; text-decoration: underline;"
                      routerLink="/servicios/obra-civil-industrial">Ver más &gt;</a>
                  </strong>
                </span>
              </span>
            </div>
          </div>
        </div>
      </div> -->



      <!-- <div>
        <div class="dropdown text-white">
          <div class="w-100 fw-semibold fs-5 d-flex" type="button" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
            <div class="col-11">Obra Civil Industrial</div>
            <div class="col-1 dropdown-toggle d-flex justify-content-end"></div>
          </div>
          <div class="dropdown-menu w-100 g--bg-color-16558F text-white border-0 fs-6" style="z-index: 0;">
            En este sector de la ingeniería nos abocamos a la proyección, construcción y mantenimiento de
            infraestructuras y edificios para la Industria. Nuestros técnicos participan desde el principio en el diseño
            de plantas industriales, para esto se definen junto al cliente las necesidades productivas del proyecto y se
            trabaja en el desarrollo de un espacio que cumpla esas necesidades de forma efectiva.
            <span style="text-decoration: underline;">
              <span style="color: #ffffff;">
                <strong>
                  <a class="text-nowrap" style="color: #ffffff; text-decoration: underline;"
                    routerLink="/servicios/obra-civil-industrial">Ver más &gt;</a>
                </strong>
              </span>
            </span>
          </div>
        </div>
      </div>
      qweqwe -->
    </div>
    <div style="height: 200px;"></div>
  </section>
</main>
