.carousel-item {
  transition: all 0.3s;
}

.carousel-indicators {
  margin-bottom: 25px;
}

.carousel-indicators>button {
  opacity: 1;
  width: 20px;
  height: 20px;
  margin: 0 12px;
}

.active {
  background-color: #16558F;
}

.mensaje-carousel {
  display: flex;
  max-width: 170px;
  height: auto;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 5%;
  background-color: #16558F;
  transform: translateY(-50%);
}

.texto-mensaje-carousel {
  font-size: 0.9em;
  padding: 40px 20px 40px 20px;
  line-height: 20px;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.negrita-cursiva {
  font-weight: 900;
  font-style: italic;
}

.icono-users {
  font-size: 50px;
}

.texto-info {
  font-family: "DM Sans", Sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #7a7a7a;
}

.cuadrado-info {
  width: 50px;
  height: 50px;
  background-color: #A2C4E0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-75%, -62%)
}

.video-inicio {
  position: relative;
  bottom: -120px;
}

.border-bottom {
  border-bottom: solid 1px #FFFFFF87;
  color: white;
}

.c-accordion {
  font-family: "DM Sans", Sans-serif;
  background-color: #16558F;
  color: white;
  cursor: pointer;
  padding: 20px 0;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  font-weight: 700;
  transition: 0.4s;
}

.c-accordion:after {
  content: '\002B';
  font-weight: bold;
  float: right;
  margin-left: 5px;
  color: white;
  font-size: 30px;
}

.c-accordion__panel {
  font-family: "DM Sans", Sans-serif;
  margin-top: -10px !important;
  padding-top: -20px;
  padding-right: 18px;
  margin-bottom: 20px;
  background-color: #16558F;
  overflow: hidden;
  transition: 0.4s ease-out;
}

.activo:after {
  content: "\2212";
  background-color: #A2C4E0;
  padding: 0px 5px;
  color: #16558F;
  border-radius: 2px;
}

.contenedor-renovables {
  position: relative;
  border-radius: 0 20px;
  right: 40px;
}

.imgage-logo-renovables {
  width: 90%;
  margin-bottom: 20px;
}

.btn-presupuesto {
  display: inline-block;
  padding: 12px 24px;
  background-color: #6DD67C;
  border-radius: 0 20px;
  width: auto;
  text-decoration: none;
}

.text-presupuesto {
  font-family: "DM Sans", Sans-serif;
  font-size: 17px;
  font-weight: 500;
  color: white;
}

.padding-renovables {
  padding: 15%;
}

@media (max-width: 768px) {
  .mensaje-carousel {
    display: flex;
    max-width: 30vw;
    position: absolute;
    top: 30%;
  }

  .texto-info {
    padding: 20px 0;
  }

  .revertir {
    display: flex;
    flex-direction: column-reverse;
  }

  .contenedor-renovables {
    border-radius: 0;
    right: 0px;
  }

  .imgage-logo-renovables{
    width: 100%;
  }
}
