<div id="slider-carousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#slider-carousel" data-bs-slide-to="0" class="boton-carousel active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#slider-carousel" data-bs-slide-to="1" class="boton-carousel"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#slider-carousel" data-bs-slide-to="2" class="boton-carousel"
      aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#slider-carousel" data-bs-slide-to="3" class="boton-carousel"
      aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active g--bg-color-16558F">
      <picture>
        <source media="(max-width: 768px)" srcset="../../../assets/images/carrousel/caixapopular_mobile.webp" />
        <img src="../../../assets/images/carrousel/caixapopular.webp" class="d-block w-100" alt="Caixa Popular">
      </picture>
    </div>
    <div class="carousel-item">
      <picture>
        <source media="(max-width: 768px)" srcset="../../../assets/images/carrousel/sanitas_mobile.webp" />
        <img src="../../../assets/images/carrousel/sanitas.webp" class="d-block w-100" alt="Sanitas">
      </picture>
    </div>
    <div class="carousel-item">
      <picture>
        <source media="(max-width: 768px)" srcset="../../../assets/images/carrousel/miarco_mobile.webp" />
        <img src="../../../assets/images/carrousel/miarco.webp" class="d-block w-100" alt="MIARCO">
      </picture>
    </div>
    <div class="carousel-item">
      <picture>
        <source media="(max-width: 768px)" srcset="../../../assets/images/carrousel/ctt_mobile.webp" />
        <img src="../../../assets/images/carrousel/ctt.webp" class="d-block w-100" alt="CTT Empresa">
      </picture>
    </div>
  </div>
  <div class="mensaje-carousel">
    <h1 class="texto-mensaje-carousel">
      <span class="negrita-cursiva">Desde el 2006</span> proyectando el <span class="negrita-cursiva">futuro.</span>
    </h1>
  </div>
</div>
<section class="container my-5 position-relative">
  <div class="row mx-lg-2 mx-md-1 mx-2">
    <div class="row align-items-center align-items-sm-start align-items-xs-start col-lg-6 col-md-6 col-sm-12 py-3 ps-4 g--bg-color-16558F g--font-family-dm-sans text-white">
      <div class="col-lg-3 col-md-4 col-sm-12"><fa-icon class="icono-users" [icon]="users"></fa-icon></div>
      <div class="col-lg-9 col-md-8 col-sm-12 pt-lg-0 ps-sm-0 pt-sm-3 ps-xs-0 pt-xs-3 mt-auto mb-auto"><strong class="fs-5">Más de 300 clientes</strong></div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="texto-info ps-lg-4 ps-md-4">En GEDITEC tenemos una <span style="color: #16558F;"><em><strong>amplia experiencia</strong></em></span> en
        servicios de ingeniería, arquitectura y consultoría.</div>
    </div>
  </div>
  <div class="row revertir mx-lg-2 mx-md-1 mx-2">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="texto-info pt-lg-4 pt-md-4">
        Nuestro objetivo es <span style="color: #16558F;"><em><strong>dar un servicio integral y de excelencia</strong></em></span> para generar la máxima satisfacción de nuestros clientes.
      </div>
    </div>
    <div class="row flex-row-reverse align-items-center align-items-sm-end align-items-xs-start col-lg-6 col-md-6 col-sm-12 py-3 ps-4 g--bg-color-16558F g--font-family-dm-sans text-white">
      <div class="col-lg-3 col-md-4 col-sm-12"><img src="../../../assets/images/IconProyectos.webp" style="width: 80px;"></div>
      <div class="col-lg-9 col-md-8 col-sm-12 pt-lg-0 ps-sm-0 pt-sm-3 ps-xs-0 pt-xs-3 mt-auto mb-auto"><strong class="fs-5">Proyectos por +100M€</strong></div>
    </div>
  </div>
  <div class="cuadrado-info d-none d-md-block"></div>
</section>


