<div class="container-fluid my-lg-5 my-sm-0 g--font-family-dm-sans">
  <h2 class="proyecto-titulo">DESDE 2006 PROYECTANDO EL FUTURO</h2>
  <h3 class="mensaje-proyecto">Proyección, construcción y mantenimiento de Infraestructuras para Industrias</h3>
  <div class="element-divider">
    <span class="bar-separator"></span>
  </div>
  <div class="d-flex justify-content-lg-start justify-content-md-start justify-content-center mb-4">
    <a class="boton-contacto-proyectos" routerLink="/contacto">Cuéntanos sobre tu proyecto
      <span><i><fa-icon style="font-size: 12px; margin-left: 6px;" [icon]="arrowRight"></fa-icon></i></span>
    </a>
  </div>
</div>
